body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Nanum Gothic, sans-serif;
    background-color: #f0f0f0;
}S
.container {
    text-align: center;
    background: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.1);
}
input[type="file"], input[type="text"], button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    align-items: center;
}
